<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>


  <appSettings>
    <add key="sfdcUserName" value="yanspineiro@hbcinsure.com" />
    <add key="sfdcPassword" value="SalesForce2015+-" />
    <add key="sfdcToken" value="NVSGBSQIPvbu3mtQmylwkxnB" />
    <add key="IsSandboxUser" value="false" />

    <add key="sfdcConsumerKey" value="3MVG98dostKihXN6.jTAtiSnB0AgH2UiMNQiiMq.9UjK6Wxkmij9pCCAOgV4ygc28ObtjCulLeGSZnzgump12" />
    <add key="sfdcConsumerSecret" value="8635215544816572532" />

    <add key="UrlSanbox" value="false" />
    <add key="username" value="mspiewak2014" />
    <add key="pwd_agent" value="Matt1984" />

  </appSettings>

</configuration>