<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SF_Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="sfdcUserName" value="yanspineiro@hbcinsure.com" />
    <add key="sfdcPassword" value="SalesForce2015+-" />
    <add key="sfdcToken" value="NVSGBSQIPvbu3mtQmylwkxnB" />
    <add key="IsSandboxUser" value="false" />

    <add key="sfdcConsumerKey" value="3MVG98dostKihXN6.jTAtiSnB0AgH2UiMNQiiMq.9UjK6Wxkmij9pCCAOgV4ygc28ObtjCulLeGSZnzgump12" />
    <add key="sfdcConsumerSecret" value="8635215544816572532" />

    <add key="UrlSanbox" value="false" />
    <add key="username" value="mspiewak2014" />
    <add key="pwd_agent" value="Matt1984" />

  </appSettings>
  
  <applicationSettings>
    <SF_Lib.Properties.Settings>
      <setting name="SF_Lib_com_salesforce_na5_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/34.0/0DF70000000PGLP</value>
      </setting>
    </SF_Lib.Properties.Settings>
  </applicationSettings>
</configuration>